@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');


* {
    box-sizing: border-box;
}

.my-app {
    background-color: #0f1111;
    width: 100%;
}


.news-item {
    font-family: 'Poppins', 'Georgia', sans-serif;
    color: antiquewhite;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 450px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.news-img {
    height: 70%;
    width: 80%;
    padding: 15px;
}

.title-url {
    background-color: #0f1111;
    color: White;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.one-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 2px;
}

.description {
    height: 50%;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    font-family: 'Franklin', Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.navbar a {
    float: left;
    color: #0f1111;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .sign-in {
    border-radius: 20px;
    background-color: #2d3436;
    color: #dfe6e9;
    font-family: 'Poppins', 'sans-serif';
    padding: 5px;
    margin: 2px;
    border: none;
    cursor: pointer;
  }

  .subscribe {
    border-radius: 20px;
    background-color: #0984e3;
    color: white;
    font-family: 'Poppins', 'sans-serif';
    font-weight: bold;
    padding: 5px;
    margin: 2px;
    border: none;
    cursor: pointer;
  }
